@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 100px;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.flexible-container {
  display: flex;
}

#title-color {
  color: lightsalmon;
}

.style-btn {
  padding: 15px 50px;
  background: linear-gradient(#8ad9ffbf, #34aae3ed);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.description-area {
  width: 90%;
  padding: 30px 0;
}

.description-area span {
  color: #d731b3f5;
}

.description-area h1 {
  font-size: 60px;
  border-left: 3px solid #b4ff3b;
  border-image-slice: 1;
  padding-left: 10px;
}

.description-area p {
  font-size: 28px;
}

/* my mission style code below */
.mission-title {
  font-size: 48px;
  text-align: center;
}

.mission-image {
  width: 90%;
  text-align: right;
}

.mission-image img {
  width: 80%;
  height: 480px;
}

/* mission area style code below */

.mission-area {
  width: 100%;
  margin-right: 3%;
  padding: 20px;
  border-radius: 26px;
}
.mission-area:last-child {
  padding-right: 0;
  margin: 0;
}

/* my mission three division background color */
.mission-bg {
  background: #4f9da62b;
}

.vision-bg {
  background: #ff59592e;
}

.goals-bg {
  background: #24044814;
}
/* end of mission background color */

.mission-area .icon img {
  width: 141px;
  height: 141px;
}

/* skill develop style code below */

.skill-develop-images {
  width: 90%;
}

.skill-develop-images img {
  width: 400px;
  height: 400px;
}

.skill-description {
  width: 90%;
  padding: 10px 5%;
}

.skill-description h1 {
  font-size: 36px;
  line-height: 55px;
}

.skill-description p {
  font-size: 18px;
  font-weight: 400;
}

/*meet by developer team */
.meet-developer-title {
  text-align: center;
}
.meet-developer-title h1 {
  font-size: 48px;
  margin: 0;
}
.meet-developer-title p {
  margin-bottom: 50px;
}
.developer {
  width: 100%;
  background: #7a454521;
  margin-right: 2%;
  padding: 13px;
  text-align: center;
  border-radius: 15px;
}

.developer-image {
  padding: 10px 5px;
  text-align: center;
}

.developer-image img {
  width: 140px;
  height: 140px;
}

.developer:last-child {
  margin-right: 0;
}
.developer-details h1 {
  margin: 0;
}

.developer-details small {
  color: gray;
}
/* end of meet by developer team */

/* footer */

footer {
  background: #000000eb;
  color: aliceblue;
  text-align: center;
  padding: 40px 0;
}

footer h1 {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 400;
}
span.footer-title {
  color: #ff0081;
}

footer p {
  color: gray;
}
